<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <title>add componey</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<style>
  body{
    background-image: url({% static 'a14.jpg' %});
    box-sizing: cover;
  }
  .contend{
    margin: 10px;
    margin-top: 20vh;
    margin-left: 200px;
    height: 300px;
    opacity: 0.6;
  }
  
  input{
    margin:20px;
  }
  .card{
    float:left;
    margin: 25px;
  }
  #s{
    color: red;
    background-color: white;
    margin-top: 130px;
  }
  .card-body{
    margin-top: 30px;
  }
  .sub{
    border: 2px solid;


  }
  .a:hover{
    opacity: 0.9;
  }
  .b:hover{
    opacity: 0.9;
  }
  .c:hover{
    opacity: 0.9;
  }
</style>

</head>
<body>
 

    <nav class="navbar navbar-expand-lg navbar-light bg-info">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">{{user.username}}</span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">{{request.user}}</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item">
        <a class="nav-link" type="btn btn-success" href="/login/">Login</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" type="btn btn-success" href="/seller/home/">Home</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" id="s" type="submit">Search</button>
    </form>
  </div>
</nav>
<form method="post">
  {% if messages %}
  {% for message in messages %}
  <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %} >{{message}}</p>
  {% endfor %}
{% endif %}
  {% csrf_token %}

  <div class="contend">
    <div class="a">
      <div class="card" style="width: 18rem;">
  <!--<img class="card-img-top" src="..." alt="Card image cap">-->
  <div class="card-body">
    <h5 class="card-title">componey name</h5>
    <p class="card-text"><input type="text" placeholder="Componey Name" name="cn"><br></p>
  </div>
</div>
     
   </div> 
   <div class="b">
     <div class="card" style="width: 18rem;">
  <!--<img class="card-img-top" src="..." alt="Card image cap">-->
  <div class="card-body">
    <h5 class="card-title">componey Deteils</h5>
    <p class="card-text"><input type="text" placeholder="componey Deteils" name="cd"></p>
  </div>
</div>
     
   </div>
   <div class="c">
    <div class="card" style="width: 18rem;">
  <!--<img class="card-img-top" src="..." alt="Card image cap">-->
  <div class="card-body">
    <h5 class="card-title">componey location</h5>
    <p class="card-text"><input type="text" placeholder="Componey location" name="cl"></p>
  </div>
</div>
   </div>
</div>
<input type="submit" value="create componey">
          
    </div>

  </form>

</body>
</html>