<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Signup</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<style>
	.from{
		width: 500px;
		height: 600px;
		margin-left: 500px;
		opacity: 0.8;

	}
	body{
		background-image: url({% static 'tee.jpg' %});
		background-size: cover;
        background-attachment: fixed;
	}
	.b{
		margin: 0px;
		background-size:cover;
	}
	.a{
		text-align: center;
	}
</style>
<body>
	<form method="post">
		{% csrf_token %}
		<div class="from">
			<div class="a"><h1>Signup</h1></div>
		<div class="b">
			<b>First Name</b><br><input type="text" class="form-control" name="fname">
			<b>Last Name<br> <input type="text"class="form-control" name="lname">
			User Name<br><input type="text"class="form-control" name="uname">
			Password<br><input type="password"class="form-control" name="password">
			Email<br> <input type="email"class="form-control" name="email">
			mobile<br> <input type="number"class="form-control" name="mobile">
			Address<br> <input type="text"class="form-control" name="address">
			Usertype :-<br>
			<select name="type">
				<option value="seller">Seller</option>
				<option value="bidder">Bidder</option><br>
			</select><br>
			<input type="submit" class="btn btn-primary btn-md active" value="Ragister">
			<a href="/login/" class="btn btn-primary btn-md active" role="button">login</a>
		</div>
	
		</div>
		</form>

</body>
</html>